<?xml version="1.0"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <!--<add name="MyConnection" connectionString="Data Source=ManojKandpal-PC;Initial Catalog=Library_Management;User ID=USER ID;Password=Password;Persist Security Info=True;"
    providerName="System.Data.SqlClient"/>-->
    <add name="MyConnection" connectionString="Data Source=ManojKandpal-PC; Initial Catalog=Library_Management;User ID=179232202163144202254024246189095177021098027090;Password=173025018105161035198070048040170010175196153177;Persist Security Info=True;"
         providerName="System.Data.SqlClient"/>
    <add name="MyCon" connectionString="Data Source=ManojKandpal-PC; Initial Catalog=IMS;User ID=179232202163144202254024246189095177021098027090;Password=173025018105161035198070048040170010175196153177;Persist Security Info=True;"
    providerName="System.Data.SqlClient"/>
    <!--<add name="MyCon" connectionString="Data Source=ManojKandpal-PC;Initial Catalog=IMS;User ID=USER ID;Password=Password;Persist Security Info=True"
         providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>